########################################################################
#
# Description : 35-helper.rules
#
# Authors     : Based on Open Suse Udev Rules
#               kay.sievers@suse.de
#
# Adapted to  : Jim Gifford
# LFS	      : Alexander E. Patrakov
#
# Version     : 00.01
#
# Notes       :
#
########################################################################

# kernel firmware loader
SUBSYSTEM=="firmware",	ACTION=="add", RUN+="firmware_helper"

# check cdrom helper
BUS=="ide",	KERNEL=="hd[a-z]", ACTION=="add", IMPORT="cdrom_id --export $tempnode"
BUS=="scsi",	KERNEL=="sr[0-9]*", ACTION=="add", IMPORT="cdrom_id --export $tempnode"
BUS=="scsi",	KERNEL=="scd[a-z]", ACTION=="add", IMPORT="cdrom_id --export $tempnode"
BUS=="scsi",	KERNEL=="sg[0-9]*", ACTION=="add", DRIVER=="sr", GROUP="cdrom"

ENV{ID_CDROM}=="?*",		SYMLINK+="cdrom%m", GROUP="cdrom"
ENV{ID_CDROM_CD_R}=="?*",	SYMLINK+="cdr%m"
ENV{ID_CDROM_CD_RW}=="?*",	SYMLINK+="cdrw%m"
ENV{ID_CDROM_DVD}=="?*",	SYMLINK+="dvd%m"
ENV{ID_CDROM_DVD_R}=="?*",	SYMLINK+="dvdrw%m"

# adds floppy devices
KERNEL=="fd[0-9]*", ACTION=="add", SYSFS{cmos}=="*", RUN+="create_floppy_devices -c -t $sysfs{cmos} -m %M /dev/%k"t
