########################################################################
#
# Description : 35-helper.rules
#
# Authors     : Based on Open Suse Udev Rules
#               kay.sievers@suse.de
#
# Adapted to  : Jim Gifford
# LFS	      : Alexander E. Patrakov
#
# Version     : 00.01
#
# Notes       :
#
########################################################################

# kernel firmware loader
SUBSYSTEM=="firmware",	ACTION=="add", RUN+="firmware_helper"


