########################################################################
#
# Description : 55-sound.rules
#
# Authors     : Alexander E. Patrakov 
#
# Version     : 00.01
#
# Notes       :
#
########################################################################

SUBSYSTEM="sound",		GROUP="audio"
SUBSYSTEM="snd",		GROUP="audio"

KERNEL=="controlC[0-9]*",	NAME="snd/%k", GROUP="audio"
KERNEL=="hwC[D0-9]*",		NAME="snd/%k", GROUP="audio"
KERNEL=="pcmC[D0-9cp]*",	NAME="snd/%k", GROUP="audio"
KERNEL=="midiC[D0-9]*",		NAME="snd/%k", GROUP="audio"
KERNEL=="timer",		NAME="snd/%k", GROUP="audio"
KERNEL=="seq",			NAME="snd/%k", GROUP="audio"

SUBSYSTEM=="sound", KERNEL=="controlC?", RUN+="/usr/sbin/alsactl -F restore %n"

